// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .contribute {
  border: 1px solid black;
  }

  .intro-header {
  color: #f8f8f8;
  background: url("globe-banner.jpg") no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  }
  .container-fluid {

  }

  .centered {
    text-align: center;
  }

  .productpage {
    text-align: center;
  }

  .pdescription {
    border: 1px black solid;
    width: 350px;
    height: 200px;
    margin: 0 auto;
  }

  .productform {
    text-align: center;
  }

  input[type="file"] {
    margin: 0 auto;
  }
